<section class="email-signup">
  <div class="container">
    
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          {% render 'comp-heading', 
            text: block.settings.text,
            size: block.settings.text_size
            shopify_attributes: block.shopify_attributes
          %}
        {% when 'content' %}
          {% render 'comp-content', 
            text: block.settings.text,
            shopify_attributes: block.shopify_attributes
          %}
        {% when 'email_form' %}
          <form class="form" {{ block.shopify_attributes }}>
            <div class="form__input form__input--smaller">
              <input type="email" placeholder="Email" required>
              <button class="form__button">Send</button>
            </div>
          </form>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.presets.email_signup.name",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.presets.email_signup.settings.background_image.label"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 50,
        "unit": "%",
        "label": "t:sections.presets.image_banner.settings.overlay_opacity.label"
      },
      {
        "type": "select",
        "id": "height",
        "default": "medium",
        "label": "t:sections.global.element.image.settings.height.label",
        "options": [
          {
            "value": "default",
            "label": "t:sections.global.size.default.label"
          },
          {
            "value": "small",
            "label": "t:sections.global.size.small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.global.size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.global.size.large.label"
          },
          {
            "value": "fullscreen",
            "label": "t:sections.presets.image_banner.settings.height.options.fullscreen.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.global.text.content.label"
      },
      {
        "type": "select",
        "id": "content_position",
        "default": "middle-center",
        "label": "t:sections.global.position.content.label",
        "options": [
          {
            "value": "top-left",
            "label": "t:sections.global.position.top_left.label"
          },
          {
            "value": "top-center",
            "label": "t:sections.global.position.top_center.label"
          },
          {
            "value": "top-right",
            "label": "t:sections.global.position.top_right.label"
          },
          {
            "value": "middle-left",
            "label": "t:sections.global.position.middle_left.label"
          },
          {
            "value": "middle-center",
            "label": "t:sections.global.position.middle_center.label"
          },
          {
            "value": "middle-right",
            "label": "t:sections.global.position.middle_right.label"
          },
          {
            "value": "bottom-left",
            "label": "t:sections.global.position.bottom_left.label"
          },
          {
            "value": "bottom-center",
            "label": "t:sections.global.position.bottom_center.label"
          },
          {
            "value": "bottom-right",
            "label": "t:sections.global.position.bottom_right.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "content_alignment",
        "default": "center",
        "label": "t:sections.global.alignment.content.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.global.alignment.left.label"
          },
          {
            "value": "center",
            "label": "t:sections.global.alignment.center.label"
          },
          {
            "value": "right",
            "label": "t:sections.global.alignment.right.label"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.global.text.heading.label",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Shop Now",
            "label": "t:sections.global.text.name"
          },
          {
            "type": "select",
            "id": "text_size",
            "default": "medium",
            "label": "t:sections.global.size.text.label",
            "options": [
              {
                "value": "small",
                "label": "t:sections.global.size.small.label"
              },
              {
                "value": "medium",
                "label": "t:sections.global.size.medium.label"
              },
              {
                "value": "large",
                "label": "t:sections.global.size.large.label"
              }
            ]
          }
        ]
      },
      {
        "type": "content",
        "name": "t:sections.global.text.content.label",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Only today! Get best deals by purchasing from our new collection</p>",
            "label": "t:sections.global.text.name"
          }
        ]
      },
      {
        "type": "email_form",
        "name": "t:sections.presets.email_signup.blocks.email_form.name",
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "t:sections.presets.email_signup.name",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "content"
          },
          {
            "type": "email_form"
          }
        ]
      }
    ]
  }
{% endschema %}