<div>
</div>

{% schema %}
  {
    "name": "t:sections.image_banner.name",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "t:sections.image_banner.settings.image_1.label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:sections.image_banner.settings.image_2.label"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 0,
        "unit": "%",
        "label": "t:sections.image_banner.settings.overlay_opacity.label"
      },
      {
        "type": "select",
        "id": "height",
        "default": "medium",
        "label": "t:sections.image_banner.settings.height.label",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "fullscreen",
            "label": "Fullscreen"
          }
        ]
      },
      {
        "type": "select",
        "id": "content_position",
        "options": [
          {
            "value": "top-left",
            "label": "Top Left"
          },
          {
            "value": "top-center",
            "label": "Top Center"
          },
          {
            "value": "top-right",
            "label": "Top Right"
          },
          {
            "value": "middle-left",
            "label": "Middle Left"
          },
          {
            "value": "middle-center",
            "label": "Middle Center"
          },
          {
            "value": "middle-right",
            "label": "Middle Right"
          },
          {
            "value": "bottom-left",
            "label": "Bottom Left"
          },
          {
            "value": "bottom-center",
            "label": "Bottom Center"
          },
          {
            "value": "bottom-right",
            "label": "Bottom Right"
          }
        ],
        "default": "middle-center",
        "label": "t:sections.image_banner.settings.content_position.label"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "default": "center",
        "label": "t:sections.image_banner.settings.content_alignment.label",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.global.text.heading.label",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Shop Now",
            "label": "t:sections.image_banner.blocks.content.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_size",
            "default": "medium",
            "label": "t:sections.image_banner.blocks.content.settings.text_size.label",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.global.text.content.label",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Only today! Get best deals by purchasing from our new collection</p>",
            "label": "t:sections.image_banner.blocks.content.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ],
            "default": "medium",
            "label": "t:sections.image_banner.blocks.content.settings.text_size.label"
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.global.element.button.label",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "t:sections.image_banner.blocks.button.settings.label.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.image_banner.blocks.button.settings.link.label"
          },
          {
            "type": "checkbox",
            "id": "fill",
            "label": "t:sections.image_banner.blocks.button.settings.fill.label"
          }
        ]
      }
    ]
  }
{% endschema %}