<section class="richtext">
  <div class="container">
    
    <div class="richtext__wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            {% render 'comp-heading', 
              text: block.settings.text,
              size: block.settings.text_size
              shopify_attributes: block.shopify_attributes
            %}
          {% when 'content' %}
            {% render 'comp-content', 
              text: block.settings.text,
              shopify_attributes: block.shopify_attributes
            %}
          {% when 'button' %}
            {% render 'comp-button', 
              label: block.settings.label,
              link: block.settings.link,
              className: "button button--black button--md",
              shopify_attributes: block.shopify_attributes
            %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.presets.rich_text.name",
    "settings": [
      {
        "type": "select",
        "id": "content_position",
        "default": "center",
        "label": "t:sections.global.position.content.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.global.position.left.label"
          },
          {
            "value": "center",
            "label": "t:sections.global.position.center.label"
          },
          {
            "value": "right",
            "label": "t:sections.global.position.right.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "content_alignment",
        "default": "center",
        "label": "t:sections.global.alignment.content.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.global.alignment.left.label"
          },
          {
            "value": "center",
            "label": "t:sections.global.alignment.center.label"
          },
          {
            "value": "right",
            "label": "t:sections.global.alignment.right.label"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.global.text.heading.label",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Talk about your brand",
            "label": "t:sections.global.text.name"
          },
          {
            "type": "select",
            "id": "text_size",
            "default": "medium",
            "label": "t:sections.global.size.text.label",
            "options": [
              {
                "value": "small",
                "label": "t:sections.global.size.small.label"
              },
              {
                "value": "medium",
                "label": "t:sections.global.size.medium.label"
              },
              {
                "value": "large",
                "label": "t:sections.global.size.large.label"
              }
            ]
          }
        ]
      },
      {
        "type": "content",
        "name": "t:sections.global.text.content.label",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "t:sections.global.text.name"
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.global.element.button.label",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "default": "Get Deals",
            "label": "t:sections.global.element.button.settings.label.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.global.element.button.settings.link.label"
          },
          {
            "type": "checkbox",
            "id": "fill",
            "label": "t:sections.global.element.button.settings.fill.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.presets.rich_text.name",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "content"
          }
        ]
      }
    ]
  }
{% endschema %}