{{ 'section-contact.css' | asset_url | stylesheet_tag }}

<section class="contact">
  <div class="container">
    <div class="contact__wrapper">
      {% render 'comp-heading', 
        text: section.settings.heading,
        size: section.settings.heading_size
      %}
      <form class="form contact__form">
        <div class="form__row">
          <div class="form__input">
            <input type="text" placeholder="Name" required>
          </div>
          <div class="form__input">
            <input type="email" placeholder="Email" required>
          </div>
        </div>
        <div class="form__input">
          <input type="number" placeholder="Phone Number" required>
        </div>
        <div class="form__input">
          <textarea placeholder="Comment"></textarea>
        </div>
        <input type="submit" class="button button--black button--md" value="Send">
      </form>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.presets.contact_form.name",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.global.text.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "default": "medium",
        "label": "t:sections.global.size.heading.label",
        "options": [
          {
            "value": "small",
            "label": "t:sections.global.size.small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.global.size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.global.size.large.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.presets.contact_form.name"
      }
    ]
  }
{% endschema %}